<!-- Pour un composant utilisant le shadowDom, on peut déclarer son style directement dans le template sans soucis. -->
<style>
    .card {
        display: block;
        border: 1px solid #eaeaea;
        border-radius: 4px;
    }
    .card__header,
    .card__body,
    .card__footer
    {
        padding: 7px;
    }
    .card__header {
        background: #eee;
    }
    .card__title {
        margin: 0;
    }
    .card__footer
    {
        text-align: right;
    }


    .card.card--primary {
        border-color: #1e65ff;
    }
    .card.card--primary .card__header{
        background: #1e65ff;
    }

    .card.card--warning {
        border-color: #ff991a;
    }
    .card.card--warning .card__header{
        background: #ff991a;
    }

    .card.card--info {
        border-color: #8cdaff;
    }
    .card.card--info .card__header{
        background: #8cdaff;
    }

</style>
<!-- Exemple de data-binding utilisé dans un attribut -->
<div class="card card--{{ card-type }}">
    <div class="card__header">
        <h3 class="card__title">
            <slot name="title">
                <!-- 
                    Slots rendus possibles grace au shadowDom. 
                    Tout le contenu d'une balise <* slot="title"></*> dans notre composant <app-complex> s'affichera ici 
                -->
            </slot>
        </h3>
    </div>
    <div class="card__body">
        <p>
            <slot name="content">
                <!-- 
                    Slots rendus possibles grace au shadowDom. 
                    Tout le contenu d'une balise <* slot="content"></*> dans notre composant <app-complex> s'affichera ici 
                -->
            </slot>
        </p>
    </div>
    <div class="card__footer">
        <!-- Exemple de data-binding utilisé dans un textNode -->
        <a href="javascript://">Commentaires ({{ card-comments }})</a>
    </div>
</div>