<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#accueil">
        <em class="The">The</em><em class="Note">Note</em><em class="Box">Box</em>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#post">Post</a>
            </li>
            <li class="nav-item separator"></li>
            <li class="nav-item">
                <a class="nav-link" href="#realisation">Réalisation</a>
            </li>
            <li class="nav-item separator"></li>
            <li class="nav-item">
                <a class="nav-link" href="#activite">Activité</a>
            </li>
            <li class="nav-item separator"></li>
            <li class="nav-item">
                <a class="nav-link" href="#progression">Progression</a>
            </li>
            <li class="nav-item separator"></li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">discord</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#profile">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disconnect" href="#login"><img src="app/img/disconect.png" alt="déconexion"></a>
            </li>

        </ul>
    </div>
</nav>

